<div class="container" ng-show="currentUser.username !== 'admin@gmail.com'">
<h3><p style="color:blue; font-family: 'Coming Soon', cursive;width:100px"><b>{{currentUser.firstName | uppercase}}</b></p> Profile</h3>
<button type="submit" ng-click="edit(currentUser._id)" class="btn btn-warning"  style="float:right">Edit</button>
			<div>
				<table class="table" ng-show="change">
				
				<tr>
						<td>First_name :</td>
						<td><input  ng-model="change.firstName"></td>
				</tr>
				<tr>
						<td>Last_name :</td>
						<td><input  ng-model="change.lastName"></td>
				</tr>
				<tr>
						<td>Username :</td>
						<td><input  ng-model="change.username"></td>
				</tr>
				<tr>
						<td>City :</td>
						<td><input  ng-model="change.city"></td>
				</tr>
				<tr>
						<td>Ph Number :</td>
						<td><input  ng-model="change.phnumber"></td>
				</tr>
						<td>
								<button type="submit" ng-click="update(change)" class="btn btn-info" value="Update">Update
								</button>
						</td>
				
			
				</table>
		</div>
<div>

<table class="table" ng-show="!change" >
				<tr>
						<td>First_name :</td>
						<td>{{currentUser.firstName}}</td>
				</tr>
				<tr>
						<td>Last_name :</td>
						<td>{{currentUser.lastName}}</td>
				</tr>
				<tr>
						<td>Username :</td>
						<td>{{currentUser.username}}</td>
				</tr>
				<tr>
						<td>City :</td>
						<td>{{currentUser.city}}</td>
				</tr>
				<tr>
						<td>Ph Number :</td>
						<td>{{currentUser.phnumber}}</td>
				</tr>
</table>
</div>
</div>


<!-- <div>
				<table class="table">
				
				<tr>
						<td>First_name :</td>
						<td><span ng-hide="">{{change.firstName}}</span><input ng-show=""  ng-model='{{change.firstName}}'></td>
				</tr>
				<tr>
						<td>Last_name :</td>
						<td><span ng-hide="">{{change.lastName}}</span><input ng-show=""  ng-model="{{change.lastName}}"></td>
				</tr>
				<tr>
						<td>Username :</td>
						<td><span ng-hide="">{{change.username}}</span><input ng-show="" ng-model="{{change.username}}"></td>
				</tr>
				<tr>
						<td>City :</td>
						<td><span ng-hide="">{{change.city}}</span><input ng-show="" ng-model="{{change.city}}"></td>
				</tr>
				<tr>
						<td>Ph Number :</td>
						<td><span ng-hide="">{{change.phnumber}}</span><input ng-show="" ng-model="{{change.phnumber}}"></td>
				</tr>
						<td>
								<button type="submit" ng-click="update(change)" class="btn btn-info" value="Update">Update
								</button>
						</td>
				
			
				</table>
		</div> -->

		<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                        <a href="http://scripteden.com/">Script Eden</a>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div> -->